# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Application private data
.key.key
.password.txt
.diary_data

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.vscode

# OS specific files
.DS_Store
Thumbs.db